
#menuPrincipal {
    margin-top: 20px;
    position: relative;
    top: 10px;

}
#top {
    position: relative;
    background-color: #036fab;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0,0,0,5);
    color: white;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #036fab;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0,0,0,5);
    margin-top: 3px;

}


.center_content {
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0,0,0,5);
    padding: 5px;
    
}
#sessionUsuario{
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    right: 25px;
    top: 25px;
    
}


#top a:link, #top a:visited {
    color: #ffffff;
    font-weight : bold;
    text-decoration: none;
    margin: 2px;

}

#top a:link:hover, #top a:visited:hover  {
    color: #ffffff;
    font-weight : bold;
    text-decoration : underline;

}


